<h1>List your dollar amount and we'll sort it into coins.</h1>
<form action='/coins'>
  <div class="form-group">
    <label for="dollarAmount">How much you got?</label>
    <input id="dollarAmount" name="dollarAmount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Show me the money</button>
</form>
